/* common css */
:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
.contact-wrapper {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  position: relative;
  height: 350px;
}
.contact-left {
  width: 50%;
  display: none;
  position: relative;
 
}
.contact-left img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.contact-right {
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.contact-title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--accent-color);
}
.newsletter {
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
}
form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .5rem;
}
input[type="text"]{
  width: 65%;
}
input[type="submit"]{
    border: px solid var(--link-color);
}
input[type="text"],
input[type="submit"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
}
input[type="submit"]{
    border: 2px solid var(--link-color);
}
input[type="text"]:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}
.btn {
  color: #ffffff;
  background-color: var(--accent-color);
}
.btn:hover {
  background-color: var(--link-color);
}
.termsServer{
font-size: 0.8rem;
}
.termsServer span{
  color: var(--link-color);
  text-decoration: underline;
}
/* media query */
@media only screen and (max-width: 668px) {
  .contact-title {
  text-align: center;
  font-size: 2rem;
  }
}
@media only screen and (min-width: 821px) {
  .contact-left {
    display: flex;
  }
  .contact-right {
  padding: 3rem ;
}
}
